{% extends 'base.html' %}

{% block title %}Сторінка входу{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Увійти в систему</h2>

   

    <!-- Форма входу -->
    <form method="POST" action="{{ url_for('users.login') }}" class="w-50 mx-auto">
        {{ form.hidden_tag() }}

        <div class="mb-3">
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control", id="email", placeholder="Введіть ваш email") }}
            {% for error in form.email.errors %}
                <small class="text-danger">{{ error }}</small>
            {% endfor %}
        </div>

        <div class="mb-3">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control", id="password", placeholder="Введіть ваш пароль") }}
            {% for error in form.password.errors %}
                <small class="text-danger">{{ error }}</small>
            {% endfor %}
        </div>

        <button type="submit" class="btn btn-primary">Увійти</button>
    </form>
</div>
{% endblock %}
